// В этом файле должны быть стили для БЭМ-блока user-destination, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.user-destination {

  $block-name:                &; // #{$block-name}__element

  @include row;
  max-width: 840px;
  margin: auto;

  &__form-wrap {
    @include col();
    @include col(lg, 6);
  }
  &__note-wrap {
    @include col();
    @include col(lg, 6);
  }

  &__note {
    border: 1px solid #C4C4C4;
    margin-bottom: 5px;
    font-size: 14px;
    padding: 4px 8px;
    color: #000;
    display: flex;
    flex-wrap: wrap;

    .note-name {
      margin-right: auto;
    }
    .note-date {
      padding: 0 4px;
    }
    .note-edit {
      padding: 0 4px;
      a {
        font-size: 12px;
        text-decoration: none;
        color: #67B467;
      }
    }
    .note-delete {
      padding: 0 4px;
      a {
        font-size: 12px;
        text-decoration: none;
        color: #F78484;
      }
    }
  }

  &__form {
    margin-bottom: 30px;
  }

  &__form-row {
    @include row;
  }

  &__form-name {
    @include col();
    @include col(sm, 4);
    text-align: right;
    padding-right: 0 !important;
    font-weight: 400;
  }
  &__form-input-wrap {
    @include col();
    @include col(sm, 8);
  }

  &__form-action {
    text-align: right;
  }
}
