// В этом файле должны быть стили для БЭМ-блока feedback-box, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.feedback-box {

  $block-name:                &; // #{$block-name}__element

  @include row;

  &__img-wrap {
    @include col();
    @include col(md, 4);

    img {
      display: block;
      margin: auto;
    }
  }
  &__form-wrap {
    @include col();
    @include col(md, 8);
  }

  &__form {
    margin-bottom: 25px;
  }

  &__form-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.1;
    margin-bottom: 24px;
  }

}
