// В этом файле должны быть стили для БЭМ-блока table, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, $media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$gray-lightest:               hsl(0, 0%, 90%) !default;

$text-color--muted:           hsl(0, 0%, 50%) !default;

$border-color:                #E1E1E1;

$font-size--small:            0.75em !default;

$line-height:                 1.375em !default;

$field-padding-vertical:      0.3em !default;
$field-padding-horizontal:    0.7em !default;

.table {

  $block-name:                &; // #{$block-name}__element

  border-collapse: collapse;
  width: 100%;
  border: 1px solid $border-color;
  margin: $line-height 0;
  background-color: #FAF6F5;

  caption {
    padding-top: 0.4em;
    text-align: right;
    caption-side: bottom;
    font-size: $font-size--small;
    line-height: 1em;
    color: $text-color--muted;
  }

  td,
  th {
    padding: 8px 10px;
    vertical-align: top;
    border-bottom: 1px solid $border-color;

    &:not(:first-child) {
      border-left: 1px solid $border-color;
    }
  }

  th {
    text-align: left;
    white-space: nowrap;
    font-weight: 500;
  }

  &__header {}

  &__body {}

  &__footer {}

  &__field {
    margin-bottom: 0;
  }
  &__delete-link {
    text-decoration: none;
    color: $color-main;

    &:hover {
      text-decoration: underline;
    }
  }

  &__add-row {
    text-decoration: underline;
    color: #000;

    &:hover {
      text-decoration: none;
    }
  }

  &__order-act {
    text-align: center;

    a {
      color: #000;
      font-size: 12px;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__order-list {
    margin-bottom: 10px;
  }
  &__order-list-head {
    display: flex;
    margin-bottom: 4px;
  }

  &__order-list-title {
    margin-right: auto;
    padding-right: 5px;
  }
  &__order-list-qut,
  &__order-list-price {
    white-space: nowrap;
    min-width: 50px;
  }

  &__order-list-caption {
    font-size: 12px;

    &.box {
      background-color: #fff;
      padding: 2px 6px;
    }
  }

  &__delivery-item {
    min-width: 210px;
    margin-bottom: 5px;
    span {
      font-weight: 500;
      margin-right: 5px;
      display: inline-block;
    }
  }

  &__paym {
    margin-bottom: 8px;
    font-size: 12px;

    .label {
      margin-bottom: 8px;
    }
  }
  &__paym-amount {
    text-align: center;
    span {
      font-weight: 500;
    }
  }

  &__btn-group {
    margin-top: 10px;
    .btn {
      margin-bottom: 6px;
      width: 100%;
    }

    &.btn-group-inline {

      display: flex;

      .btn {
        width: auto;
        &:not(:last-child) {
          margin-right: 6px;
        }
      }
    }
  }
}
