// В этом файле должны быть стили для БЭМ-блока footer-links, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.footer-links {

  $block-name:                &; // #{$block-name}__element

  @include row;

  &__col {
    @include col();
    @include col(md, 3);
    @include col(sm, 6);
  }
  &__group {
    margin-bottom: 10px;
  }
  &__title {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 5px;
  }
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      margin-bottom: 3px;
    }
    a {
      color: #fff;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
