// В этом файле должны быть стили для БЭМ-блока product-catalog, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.product-catalog {

  $block-name:                &; // #{$block-name}__element

  &__sort {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 15px;
  }
  &__sort-title {
    padding: 3px 8px 3px 0;
  }
  &__sort-list {
    list-style: none;
    margin: 0;
    li {
      display: inline-block;
      a {
        color: inherit;
        text-decoration: none;
        display: block;
        padding: 3px 8px;
      }
      &.is-active {
        a {
          font-weight: 700;
        }
      }
    }
  }

  &__list {
    @include row;
    margin-bottom: 30px;
    
    @media (max-width:($screen-md - 1)) {
      overflow: hidden;
    }
  }

  &__item {
    @include col();
    @include col(lg, 3);
    @include col(md, 4);
    @include col(xs, 6);
    margin-bottom: 20px;
  }

  &__pagination {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__more {
    text-align: center;
  }
}
