// В этом файле должны быть стили для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-header {

  $block-name:                &; // #{$block-name}__element

  padding: 15px 0 0 0;
  position: relative;
  background-color: #fff;

  &--search {
    z-index: 300;
    position: relative;
    .top-search {
      opacity: 1;
      height: auto;
      top: 100%;
      left: 0;
      width: 100%;
      background: #fff;
      position: absolute;
    }
  }

  &__nav {
    border-top: 1px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1;
  }

  .burger {
    position: absolute;
    top: 15px;
    right: 15px;
  }
}

.top-header {
  display: flex;
  margin-bottom: 10px;

  &__l,
  &__r {
    @media (max-width: ($screen-lg - 1)) {
      display: none;
    }
  }

  &__r {
    text-align: right;
  }

  .logo {
    margin: auto;
    flex-shrink: 0;
  }

  &__location {
    font-weight: 500;
    margin-bottom: 4px;

    a {
      color: $color-main;
    }
  }

  &__phone {
    margin-bottom: 15px;
  }
  &__phone-num {
    display: inline-block;
    font-weight: 500;
    font-size: 22px;
    position: relative;
    padding-top: 17px;
    padding-right: 25px;

    &:before {
      content: "";
      display: inline-block;
      margin-right: 8px;
      width: 16px;
      height: 16px;
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.7368 10.5347C13.7499 10.5347 12.7832 10.3806 11.8669 10.0783C11.4198 9.92421 10.912 10.0429 10.6181 10.3427L8.80169 11.7145C6.71748 10.6021 5.38358 9.26906 4.28633 7.20001L5.62106 5.42653C5.95706 5.09053 6.07749 4.59873 5.93349 4.13811C5.62864 3.216 5.4737 2.24842 5.4737 1.26316C5.4737 0.566724 4.90698 0 4.21054 0H1.26316C0.566724 0 0 0.566724 0 1.26316C0 9.38863 6.61137 16 14.7368 16C15.4333 16 16 15.4333 16 14.7368V11.7979C16 11.1015 15.4333 10.5347 14.7368 10.5347Z' fill='black'/%3E%3C/svg%3E%0A");
    }

    &:after {
      content: "24";
      display: inline-block;
      text-align: center;
      padding: 2px;
      color: #fff;
      font-weight: normal;
      background-color: $color-main;
      font-size: 12px;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  &__lk {
    display: flex;
    text-align: left;
    margin-bottom: 8px;
  }
  &__lk-link {
    color: $text-color;
    margin-right: auto;
  }

  &__search {
    text-align: left;
    margin-bottom: 8px;
  }
  &__search-link {
    color: $text-color;
  }
}