// В этом файле должны быть стили для БЭМ-блока articles, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.articles {

  $block-name:                &; // #{$block-name}__element

  &__list {
    margin-bottom: 40px;
  }

  &__item {
    margin-bottom: 20px;
  }

  &__pagination {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
