// В этом файле должны быть стили для БЭМ-блока top-pane, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.top-pane {

  $block-name:                &; // #{$block-name}__element

  background-color: $green;
  color: #fff;

  &__inner {
    text-align: center;
    color: #fff;
    padding: 0.5em 0;
  }

  &__close {
    width: 24px;
    height: 24px;
    display: inline-block;
    position: relative;
    vertical-align: middle;

    &:before {
      content: "";
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 0C5.38331 0 0 5.38331 0 12C0 18.6167 5.38331 24 12 24C18.6167 24 24 18.6167 24 12C24 5.38331 18.6167 0 12 0ZM12 23C5.93456 23 0.999984 18.0654 0.999984 12C0.999984 5.93456 5.93456 0.999984 12 0.999984C18.0654 0.999984 23 5.93456 23 12C23 18.0654 18.0654 23 12 23Z' fill='white'/%3E%3Cpath d='M16.8535 7.1465C16.6582 6.95117 16.3418 6.95117 16.1465 7.1465L12 11.293L7.85351 7.14654C7.65818 6.95122 7.34178 6.95122 7.1465 7.14654C6.95117 7.34187 6.95117 7.65828 7.1465 7.85356L11.293 12L7.1465 16.1465C6.95117 16.3418 6.95117 16.6582 7.1465 16.8535C7.24414 16.9512 7.37211 17 7.50003 17C7.62795 17 7.75587 16.9512 7.85356 16.8535L12 12.707L16.1464 16.8535C16.2441 16.9512 16.3721 17 16.5 17C16.6279 17 16.7558 16.9512 16.8535 16.8535C17.0488 16.6582 17.0488 16.3418 16.8535 16.1465L12.707 12L16.8535 7.85356C17.0488 7.65823 17.0488 7.34182 16.8535 7.1465Z' fill='white'/%3E%3C/svg%3E");
      position: absolute;
      margin-left: 5px;
      top: 0;
      left: 0;
      width: 24px;
      height: 24px;
    }
  }
}
