// В этом файле должны быть стили для БЭМ-блока basket, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.basket {

  $block-name:                &; // #{$block-name}__element

  &__steps-nav {
    border-bottom: 1px solid #E1E1E1;
    margin-top: 30px;
    margin-bottom: 40px;
  }
  &__steps-title {
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px
  }
  &__steps-list {
     list-style: none;
     padding: 0;
     margin: 0;
     
     @media (min-width: $screen-sm) {       
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
     }

     li {

       &.is-active {
         a {
           color: $color-main;
         }
       }
     }

     a {
       text-decoration: none;
       color: inherit;
       display: block;
       font-size: 16px;
       padding: 6px 0;

       @media (min-width: $screen-sm) {
        padding: 6px 15px;
       }

       @media (min-width: $screen-md) {
        font-size: 22px;
        padding: 10px 30px;
       }
     }
  }

  &__product {
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(225, 225, 225);
  }

  &__checkout {
    background-color: #FAF6F5;
    border-top: 1px solid $green;
    border-bottom: 1px solid $green;

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 12;

    // & + & {
    //   margin: 15px 0;
    // }
  }

  &__details {
    @include row;
  }

  &__details-col {
    @include col();
    @include col(md, 6);
    margin-bottom: 30px;
  }
}
