// В этом файле должны быть стили для БЭМ-блока mobile-menu, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.mobile-menu {

  $block-name:                &; // #{$block-name}__element

  list-style: none;
  padding: 0;
  margin: 0;

  &__item {

  }
  &__link {
    text-transform: uppercase;
    text-decoration: none;
    color: $text-color;
    display: block;
    padding: 0.3em 0;
  }
}
