// В этом файле должны быть стили для БЭМ-блока btn, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$gray-lighter:                hsl(0, 0%, 80%) !default;
$gray-lightest:               hsl(0, 0%, 90%) !default;
$text-color:                  hsl(0, 0%, 10%) !default;
$line-height:                 1.375em;

$field-padding-vertical:      0.3em !default;
$field-padding-horizontal:    0.7em !default;

$border-radius:               3px !default;

.btn {

  $block-name:                &; // #{$block-name}__element

  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  padding: $field-padding-vertical  $field-padding-horizontal;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  text-align: center;
  font-size: 1em;
  font-family: inherit;
  line-height: $line-height;
  text-decoration: none;
  text-transform: none;
  color: $text-color;
  border-radius: $border-radius;
  border: 1px solid $gray-lighter;
  background-color: $gray-lightest;
  background-image: none;
  cursor: pointer;
  transition: $transition-time;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $text-color;
    background-color: darken($gray-lightest, 10%);
    border-color: darken($gray-lighter, 12%);
  }

  &:active,
  &:focus {
    @include field-focus;
  }

  &--disabled,
  &:disabled {
    opacity: $opacity;
    cursor: not-allowed;
    color: $text-color;
    background-color: $gray-lightest;
    border-color: $gray-lighter;

    @at-root a.btn--disabled {
      pointer-events: none;
    }
  }

  // &__icon {
  //   display: inline-block;
  //   vertical-align: middle;
  // }



  // &--main {
  //   color: #fff;
  //   background-color: $color-main;
  //   border: 1px solid $color-main;

  //   &:hover,
  //   &:focus {
  //     color: #fff;
  //     background-color: darken($color-main, 10%);
  //     border-color: darken($color-main, 12%);
  //   }

  //   &--disabled,
  //   &:disabled {
  //     color: #fff;
  //     background-color: $color-main;
  //     border-color: $color-main;
  //   }
  // }

  &--callback {
    color: #fff;
    background-color: $color-main;
    padding: 0.2em 0.7em;
    box-shadow: 0px 0px 0px 3px $color-main;
    border-radius: 20px;
    border-color: #fff;
    min-width: 220px;
    
    &:hover,
    &:focus {
      color: #fff;
      background-color: darken($color-main, 10%);
      border-color: darken($color-main, 12%);
    }
  }

  &--green {
    border: 2px solid $green;
    background-color: $green;
    color: #fff;

    &:hover,
    &:focus {
      color: #fff;
      background-color:darken($green, 10%);
      border-color: darken($green, 12%);
    }
  }

  &--pink {
    border: 2px solid $color-main;
    background-color: $color-main;
    color: #fff;

    &:hover,
    &:focus {
      color: #fff;
      background-color:darken($color-main, 10%);
      border-color: darken($color-main, 12%);
    }
  }

  &--link {
    border: 2px solid transparent;
    background-color: transparent;
    color: $text-color;
    text-decoration: underline;

    &:hover,
    &:focus {
      color: $color-main;
      background-color: transparent;
      border-color: transparent;
    }
  }

  &--rounded-pink {
    border: 2px solid $color-main;
    border-radius: 20px;
    color: #fff;
    font-weight: 500;
    background-color: $color-main;
    padding: 8px 32px;

    &:hover,
    &:focus {
      color: #fff;
      background-color:darken($color-main, 10%);
      border-color: darken($color-main, 12%);
    }
  }

  &--rounded-outline-green-sm {
    border: 2px solid $green;
    border-radius: 10px;
    color: $green;
    font-weight: 500;
    background-color: transparent;
    padding: 4px 30px;

    &:hover,
    &:focus {
      color: #fff;
      background-color: $green;
      border-color: $green;
    }
  }

  &--rounded-outline-green {
    border: 2px solid $green;
    border-radius: 20px;
    color: $green;
    font-weight: 500;
    background-color: transparent;
    padding: 10px 50px;

    &:hover,
    &:focus {
      color: #fff;
      background-color: $green;
      border-color: $green;
    }
  }

  &--outline-green {
    border: 2px solid $green;
    color: $green;
    border-radius: 10px;
    font-weight: 500;
    background-color: transparent;
    font-size: 22px;
    padding: 14px 30px;

    @media (max-width: ($screen-md - 1)) {
      font-size: 16px;
      padding: 12px 20px;
    }

    &:hover,
    &:focus {
      color: #fff;
      background-color: $green;
      border-color: $green;
    }
  }

  &--table-green {
    font-size: 12px;
    padding: 4px 8px;
    color: #fff;
    background-color: $green;
    border-radius: 2px;
    border: none;

    &:hover,
    &:focus {
      color: #fff;
      background-color: darken($green, 6%);
    }
  }
  &--table-pink {
    font-size: 12px;
    padding: 4px 8px;
    color: #fff;
    background-color: $color-main;
    border-radius: 2px;
    border: none;

    &:hover,
    &:focus {
      color: #fff;
      background-color: darken($color-main, 6%);
    }
  }
  &--table-blue {
    font-size: 12px;
    padding: 4px 8px;
    color: #fff;
    background-color: #3163D2;
    border-radius: 2px;
    border: none;

    &:hover,
    &:focus {
      color: #fff;
      background-color: darken(#3163D2, 6%);
    }
  }

  &--lg {
    font-size: 22px;
    padding: 14px 30px;

    @media (max-width: ($screen-md - 1)) {
      font-size: 16px;
      padding: 12px 20px;
    }
  }

  &--block {
    width: 100%;
  }
}
