// В этом файле должны быть стили для БЭМ-блока instagram-box, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.instagram-box {

  $block-name:                &; // #{$block-name}__element

  @include row;

  &__head-wrap {
    @include col();
    @include col(md, 4);
  }
  &__head {
    padding: 40px;
    text-align: center;
  }
  &__head-title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;

    &:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      margin-right: 7px;
      width: 40px;
      height: 41px;
      background-image: url("data:image/svg+xml,%3Csvg width='40' height='41' viewBox='0 0 40 41' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.60919 2.77763C-0.525114 6.03325 0.11637 9.49162 0.11637 19.998C0.11637 28.7229 -1.40591 37.4694 6.56113 39.5284C9.04897 40.1683 31.0921 40.1683 33.5766 39.5251C36.8937 38.6693 39.5926 35.9787 39.9616 31.2872C40.0131 30.6324 40.0131 9.37529 39.9599 8.70722C39.5677 3.70994 36.4916 0.829904 32.4382 0.246584C31.5093 0.111972 31.3231 0.0720865 26.5569 0.0637771C9.65057 0.0720865 5.94458 -0.680745 2.60919 2.77763Z' fill='url(%23paint0_linear)'/%3E%3Cpath d='M20.0556 5.01421C14.0213 5.01421 8.29118 4.47743 6.10248 10.0946C5.19842 12.4146 5.32971 15.4275 5.32971 19.7418C5.32971 23.5275 5.20839 27.0856 6.10248 29.3873C8.28619 35.0078 14.0629 34.4694 20.0523 34.4694C25.8306 34.4694 31.7885 35.071 34.0038 29.3873C34.9095 27.0441 34.7765 24.076 34.7765 19.7418C34.7765 13.9884 35.094 10.2741 32.3037 7.48543C29.4785 4.66023 25.6578 5.01421 20.049 5.01421H20.0556ZM18.7361 7.66823C31.3232 7.64829 32.9252 6.24899 32.0411 25.688C31.727 32.5632 26.4921 31.8087 20.0573 31.8087C8.32441 31.8087 7.98705 31.473 7.98705 19.7351C7.98705 7.86101 8.91771 7.67488 18.7361 7.66491V7.66823ZM27.9163 10.1129C26.9408 10.1129 26.1497 10.9039 26.1497 11.8794C26.1497 12.855 26.9408 13.646 27.9163 13.646C28.8918 13.646 29.6829 12.855 29.6829 11.8794C29.6829 10.9039 28.8918 10.1129 27.9163 10.1129ZM20.0556 12.1786C15.8793 12.1786 12.4941 15.5655 12.4941 19.7418C12.4941 23.9181 15.8793 27.3033 20.0556 27.3033C24.2319 27.3033 27.6155 23.9181 27.6155 19.7418C27.6155 15.5655 24.2319 12.1786 20.0556 12.1786ZM20.0556 14.8326C26.5452 14.8326 26.5536 24.651 20.0556 24.651C13.5676 24.651 13.5577 14.8326 20.0556 14.8326Z' fill='white'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='2.68567' y1='37.4014' x2='39.7547' y2='5.31864' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FFDD55'/%3E%3Cstop offset='0.5' stop-color='%23FF543E'/%3E%3Cstop offset='1' stop-color='%23C837AB'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
    }
  }
  &__head-name {
    font-size: 24px;
    font-weight: 500;
    color: $color-main;
    margin-bottom: 10px;

    a {
      color: $color-main;
      text-decoration: none;
    }
  }
  &__head-subs {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;

    span {
      vertical-align: middle;
      display: inline-block;
    }

    &:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      margin-right: 7px;
      width: 15px;
      height: 18px;
      background-image: url("data:image/svg+xml,%3Csvg width='15' height='18' viewBox='0 0 15 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.38658 8.66059C8.57639 8.66059 9.60667 8.23385 10.4485 7.39191C11.2903 6.5501 11.717 5.5201 11.717 4.33016C11.717 3.14063 11.2903 2.11048 10.4483 1.2684C9.60639 0.426733 8.57625 0 7.38658 0C6.19664 0 5.16664 0.426733 4.32483 1.26854C3.48302 2.11035 3.05615 3.14049 3.05615 4.33016C3.05615 5.5201 3.48302 6.55024 4.32497 7.39205C5.16691 8.23372 6.19705 8.66059 7.38658 8.66059Z' fill='black'/%3E%3Cpath d='M14.9636 13.825C14.9394 13.4747 14.8903 13.0925 14.818 12.689C14.745 12.2824 14.651 11.898 14.5386 11.5467C14.4224 11.1837 14.2644 10.8251 14.069 10.4815C13.8663 10.1248 13.6282 9.8143 13.361 9.55875C13.0816 9.29141 12.7395 9.07646 12.3439 8.91968C11.9496 8.76372 11.5127 8.68471 11.0454 8.68471C10.8619 8.68471 10.6844 8.76001 10.3416 8.98319C10.1306 9.12077 9.88386 9.27988 9.60843 9.45587C9.37291 9.60594 9.05385 9.74653 8.65977 9.87383C8.27528 9.99824 7.8849 10.0613 7.49959 10.0613C7.11428 10.0613 6.72403 9.99824 6.33914 9.87383C5.94546 9.74667 5.62641 9.60607 5.39116 9.45601C5.11833 9.28167 4.87143 9.12255 4.65731 8.98305C4.31493 8.75988 4.1373 8.68457 3.95376 8.68457C3.48629 8.68457 3.04955 8.76372 2.65546 8.91982C2.26014 9.07633 1.9179 9.29127 1.63821 9.55889C1.37114 9.81457 1.13288 10.125 0.930419 10.4815C0.735227 10.8251 0.577208 11.1835 0.460888 11.5469C0.348547 11.8982 0.254586 12.2824 0.181612 12.689C0.109324 13.092 0.0602173 13.4742 0.0359383 13.8254C0.0120709 14.1694 0 14.5265 0 14.8871C0 15.8256 0.298343 16.5854 0.886662 17.1457C1.46771 17.6986 2.23654 17.9792 3.17149 17.9792H11.8285C12.7635 17.9792 13.532 17.6988 14.1132 17.1457C14.7017 16.5858 15 15.8259 15 14.8869C14.9999 14.5247 14.9877 14.1674 14.9636 13.825Z' fill='black'/%3E%3C/svg%3E%0A");
    }
  }
  &__head-btn {

  }
  &__gallery-wrap {
    @include col();
    @include col(md, 8);
  }
  &__gallery {
    @include row;
  }

  &__item {
    @include col();
    @include col(sm, 4);
    @include col(xs, 6);
    margin-bottom: 20px;
  }
  &__photo-wrap {
    display: block;
    position: relative;
    padding-bottom: 100%;
  }
  &__photo {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
