// В этом файле должны быть стили для БЭМ-блока tooltip, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$gray:                        hsl(0, 0%, 50%) !default;

$line-height:                 1.375em !default;

.tooltip {

  $block-name:                &; // #{$block-name}__element

  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 0;
  width: 20px;
  height: 20px;
  overflow: hidden;
  border: none;
  color: transparent;
  background: transparent;
  background-image: svg-load('../blocks/tooltip/bg-img/info.svg', fill='#000');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  cursor: pointer;
}
