// В этом файле должны быть стили для БЭМ-блока rev-group, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.rev-group {

  $block-name:                &; // #{$block-name}__element

  &__inner {
    @include row;
  }

  &__item {
    @include col();
    @include col(lg, 4);
    margin-bottom: 20px;
  }

  &__card {}
  &__card-body {
    background: #FCFCFC;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-top: 1px solid $green;
    border-bottom: 1px solid $green;
    padding: 12px;
    margin-bottom: 4px;
  }
  &__card-rating {
    margin-bottom: 8px;
  }
  &__card-footer {
    display: flex;
    justify-content: space-between;
  }

  &__actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (max-width: ($screen-md - 1)) {
      .btn {
        flex-basis: 100%;
        margin-top: 10px;
      }
    }
  }
}
