// В этом файле должны быть стили для БЭМ-блока search, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.search {

  $block-name:                &; // #{$block-name}__element

  &__inner {
    display: flex;
    margin-bottom: 5px;
  }

  &__caption {
    font-size: 14px;
    line-height: 1.4;

    @media (min-width: $screen-lg) {
      font-size: 20px;
      line-height: 24px;
    }
  }

  &__input {
    flex-grow: 1;
    border: 1px solid #67B467;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px 0 0 5px;
    padding: 8px 12px;
    margin: 0;
    line-height: 1.375em;
    font-size: 1em;
    font-family: inherit;
    background-color: #fff;
    appearance: textfield;
    outline: none;
  }
  &__btn {
    flex-shrink: 0;
    background-color: $green;
    width: 45px;
    border: none;
    border-radius: 0 5px 5px 0;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    padding: 8px;
    transition: $transition-time;

    &:hover,
    &:focus {
      background-color:darken($green, 10%);
      border-color: darken($green, 12%);
    }

    svg {
      margin-top: 3px;
    }
  }
}
