// В этом файле должны быть стили для БЭМ-блока rev-c, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.rev-c {

  $block-name:                &; // #{$block-name}__element

  &__wrap {
    max-width: 860px;
    margin: auto;
  }

  &__card {
    background: #FCFCFC;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    padding: 15px;

    @media (min-width: $screen-md) {
      padding: 15px 40px;
    }
  }

  &__card-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 18px;
    margin-bottom: 10px;
  }
  &__card-user {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-start;
    
    .card-user-name {
      font-weight: 500;
      margin-right: 10px;
    }
    .card-user-rating {
      width: 120px;
    }
  }
  &__card-var {
    a {
      color: #67B467;
    }
  }
  &__card-body {
    font-size: 18px;

    h6 {
      color: #67B467;
      margin-bottom: 0;
    }

    p {
      margin-top: 0;
    }
  }
  &__card-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-weight: 500;
    font-size: 18px;
  }

  &__actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 50px;
    margin-top: 20px;

    @media (max-width: ($screen-md - 1)) {
      .btn {
        flex-basis: 100%;
        margin-top: 10px;
      }
    }
  }

  &__carousel {

    margin: 0 25px;

    @media (min-width: $screen-md) {
      margin: 0 40px;
    }
    
    .slick-slide {
      padding: 10px;
      cursor: pointer;

      &:focus {
        outline: none;
      }
    }

    .slick-prev.slick-arrow {
      &:before {
        content: "";
        font: 0/0 a;
        opacity: 1;
        text-shadow: none;
        color: transparent;
        width: 14px;
        height: 14px;
        border-bottom: 1px solid $green;
        border-left: 1px solid $green;
        display: block;
        transform: rotate(45deg)
      }
    }
    .slick-next.slick-arrow {
      &:before {
        content: "";
        opacity: 1;
        font: 0/0 a;
        text-shadow: none;
        color: transparent;
        width: 14px;
        height: 14px;
        border-bottom: 1px solid $green;
        border-right: 1px solid $green;
        display: block;
        transform: rotate(-45deg);
      }
    }
    .slider-nav {
    }
  }
}
