// В этом файле должны быть стили для БЭМ-блока dropdown, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$text-color:                  hsl(0, 0%, 10%) !default;

$border-color:                hsl(0, 0%, 60%) !default;

$border-radius:               3px !default;

$transition-time:             0.3s !default;

.dropdown {

  $block-name:                &; // #{$block-name}__element

  position: relative;
  display: inline-block;

  &__menu {
    position: absolute;
    z-index: -1;
    top: 100%;
    left: 0;
    max-width: 90vw;
    width: 1px;
    margin: 0;
    background-color: #fff;
    color: $text-color;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: opacity $transition-time;

    &--up {
      top: auto;
      bottom: 100%;
    }

    &--right {
      left: auto;
      right: 0;
    }
  }



  &--open & {

    &__menu {
      z-index: 1;
      visibility: visible;
      opacity: 1;
      width: auto;
    }
  }

  &--basket {
    
    .dropdown__toggler {
      border: 1px solid #fff;
    }
    .dropdown__menu {
      z-index: 11;
      min-width: 400px;
      top: calc(100% - 2px);
      left: inherit;
      right: 0;
      background: #FFFFFF;
      border: 1px solid #F78484;
      box-sizing: border-box;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
      padding: 10px;
      text-align: left;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }

    &.dropdown--open,
    &:hover {
      .dropdown__toggler {
        background: #FFFFFF;
        border: 1px solid #F78484;
        border-bottom: none;
        box-sizing: border-box;
        z-index: 12;
        position: relative;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
      }
      .dropdown__menu {
        visibility: visible;
        opacity: 1;
        width: auto;
      }
    }
  }
}
