// В этом файле должны быть стили для БЭМ-блока logo, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.logo {

  $block-name:                &; // #{$block-name}__element

  display: block;
  text-decoration: none;
  color: inherit;

  &__img {}
  &__caption {
    max-width: 180px;
    text-align: center;
    margin: auto;
  }
}
