// В этом файле должны быть стили для БЭМ-блока label, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$gray-lightest:               hsl(0, 0%, 90%) !default;

$color-main:                  hsl(208, 98%, 43%) !default;

$text-color:                  hsl(0, 0%, 10%) !default;

$border-radius:               3px !default;

.label {

  $block-name:                &; // #{$block-name}__element

  display: inline-block;
  position: relative;
  margin: 0 0.1em;
  vertical-align: baseline;
  line-height: 15px;
  padding: 6px 15px;
  background-color: $gray-lightest;
  color: $text-color;
  text-decoration: none;
  text-transform: none;
  font-weight: 400;
  font-size: 10px;
  white-space: nowrap;
  border-radius: 15px;

  &:hover,
  &:focus {
    color: $text-color;
    text-decoration: none;
  }

  &--fw {
    width: 100%;
    text-align: center;
  }

  &--green {
    background-color: $green;
    color: #fff;

    &:hover,
    &:focus {
      background-color: $green;
      color: #fff;
    }
  }

  &--pink {
    background-color: $color-main;
    color: #fff;

    &:hover,
    &:focus {
      background-color: $color-main;
      color: #fff;
    }
  }
  // &--main {
  //   background-color: $color-main;
  //   color: #fff;

  //   &:hover,
  //   &:focus {
  //     color: #fff;
  //   }
  // }
}
