// В этом файле должны быть стили для БЭМ-блока main-slider, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.main-slider {

  $block-name:                &; // #{$block-name}__element

  @include row;
  position: relative;

  &__banners {
    @include col();
    @include col(lg, 7);
  }

  &__thumbnails {
    @include col();
    @include col(lg, 5);

    @media (max-width: ($screen-lg - 1)) {
      display: none;
    }
  }
}

.gallery-slider-for .slider-item {
  min-height: 420px;
  background-position: center;
  background-size: cover;

  @media (max-width: ($screen-xl - 1)) {
    min-height: 360px;
  }
  @media (max-width: ($screen-md - 1)) {
    min-height: 280px;
  }
}

.gallery-slider-nav .slider-item {
  min-height: 132px;
  margin-bottom:10px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;

  @media (max-width: ($screen-xl - 1)) {
    min-height: 112px;
  }

  &:focus {
    outline: none;
  }
}
