// В этом файле должны быть стили для БЭМ-блока img-decor, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.img-decor {

  $block-name:                &; // #{$block-name}__element

  position: relative;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    border: 1px solid #fff;
    margin: 4px;
    z-index: 2;
  }
}
