// В этом файле должны быть стили для БЭМ-блока product, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.product {

  $block-name:                &; // #{$block-name}__element

  margin-bottom: 40px;

  &__row {
    @include row;
  }

  &__col {
    @include col();
    @include col(lg, 6);
  }

  &__title {
    margin-top: 0;
  }

  &__social {
    display: flex;
    flex-direction: column;
    align-items: center;
    .social {
      margin: auto;
    }
  }

  &__social-title {
    margin-bottom: 6px;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 15px;
  }

  &__description-title {
    font-weight: 500;
    font-size: 18px;
  }
  &__description{
    a {
      color: $color-main;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__tags {
    margin-bottom: 30px;
  }
  &__tags-title {
    font-weight: 500;
    font-size: 18px;
    color: #000;
    line-height: 1.1;
  }
  &__tags-list {
    list-style: none;
    margin: 0;
    padding: 0;
    font-style: italic;

    li {
      display: inline-block;
    }

    a {
      color: $green;
      text-decoration: underline;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }

  &__buy {}
  &__buy-part {
    margin-bottom: 20px;
  }
  &__buy-part-title {
    font-size: 14px;
    margin-bottom: 15px;
  }

  &__delivery {

  }

  &__price {
    margin-right: 15px;
    flex-grow: 1;

    .price-amount {
      font-weight: 500;
      font-size: 38px;
      display: inline-block;

      + .price-amount {
        margin-left: 10px;
      } 

      &--new {
        color: $color-main;
      }
      &--old {
        font-size: 28px;
      }
    }
  }

  &__order-gr {
    display: flex;
    align-items: center;
  }
 
  &__phone-order {
    .phone-order {
      border: 1px solid #C4C4C4;
      text-decoration: none;
      color: #000;
      display: block;
      padding: 12px 15px;
      text-align: center;

      &__title {
        font-size: 18px;
        display: block;
      }
      &__num {
        display: block;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
      }
    }
  }

  &__order-btngr {
    display: flex;

    .btn {
      flex-grow: 1;
      font-size: 20px;
    }
  }
  &__delivery {
    margin-bottom: 15px;
  }
  &__delivery-item {
    background: #FAF6F5;
    border-radius: 4px;
    text-align: center;
    
    > div {
      padding: 6px 50px;
      font-size: 20px;
      line-height: 1.2;
      min-height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 4px;
      
      &.item-border {
        border: 1px solid #67B467;
        border-radius: 3px;
      }
    }

    & + & {
      margin-top: 10px;
    }
  }

  &__video {
    margin-bottom: 30px;
  }
  &__video-title {
    font-weight: 500;
    font-size: 22px;
    text-align: center;
    margin-bottom: 15px;
  }

  &__terms {}
  &__terms-logo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  &__terms-link {
    text-align: center;

    a {
      color: $green;
      font-size: 16px;
      text-decoration: underline;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }
}
